/* CV REBECCA */

*{
    margin: 0px;
    padding:0px;
    }

@font-face {
    font-family: poppins;
    src: url(/Users/rebeccakaci/Desktop/KONEXIO/HTML-CSS/my-cv/fonts/poppins.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/Users/rebeccakaci/Desktop/KONEXIO/HTML-CSS/my-cv/fonts/Poppins-Medium.ttf);
}

body{
    font-family: poppins;
}

.blue{
    background-color: #0475ba;
}

.white{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.pad{
    padding: 40px 300px 40px 300px;
}

h3{
    font-family: poppins-medium;
}

/* HEADER */

header{
    height: 72px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 30px;
}

nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

/* TITRE */

.titre{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px darkgray;
}

.nom{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.titleblue{
    color: #0475ba;
}

/* PRESENTATION */

.title{
    margin-bottom: 40px;
}

ul{
    padding-left: 30px;
}

/* EXPERIENCES PRO */

.exp{
    display: flex;
    justify-content: space-between;
}

.exp-pro{
    line-height: 2.5;
}

.title-exp{
    font-family: poppins-medium;
}

/* FORMATIONS */

/* PASSIONS */

/* FOOTER */

footer{
    padding: 40px;
    display: flex;
    gap: 250px;
}

.blog{
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: underline;
}